.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.tab.active {
    background-color: #ccc;
}

.tab-content {
    padding: 20px;
    text-align:justify;
}

.content {
    display: none;
}

.content.active {
    display: block;
}
