.homePage-container {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}

.menu-container {
    width: 200px;
    padding-right: 20px;
}


.content-container {
    flex: 1;
}

.divider {
    border-right: 1px solid #1c1b1b;
    margin-right: 40px;
}
