.header {
    background-color: #656161;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logo-icon {
    font-size: 24px;
    margin-right: 10px;

}

.logo-text {
    font-size: 18px;
    font-weight: bold;
}
